<div class="row">
    <div class="col-md-6">
  
      <h4>Register</h4>
  
      <form (ngSubmit)="register()">
  
          <div class="form-group">
            <label for="">First Name</label>
            <input type="text" name="first_name" [(ngModel)]="user.first_name" class="form-control">
          </div>

          <div class="form-group">
              <label for="">Last Name</label>
              <input type="text" name="last_name" [(ngModel)]="user.last_name" class="form-control">
            </div>

          <div class="form-group">
            <label for="">Email</label>
            <input type="email" name="email" [(ngModel)]="user.email" class="form-control">
          </div>
    
          <div class="form-group">
              <label for="">Password</label>
              <input type="password" name="password" [(ngModel)]="user.password" class="form-control">
          </div>
    
          <div class="form-group">
              <button class="btn btn-info">Register</button>
          </div>
  
  
      </form>
  
    </div>
  </div>